/* Definicion de Variables Colores de Tibet*/

$amarillo-tibet:#CF8900;
$amarillo-tibet-brillante: #F5E202;
$rojo-tibet: #690102;
$rojo-tibet-brillante:#BE0A09;
$turquesa-tibet: #2E8888;
$coral-tibet:#ff6f61;
$azul-tibet:#6A96B3;