@charset "UTF-8";
/* Definicion de Variables Colores de Tibet*/
.patron-brocado-negro, .calendario nav, .faselunar nav, .celebraciones nav, .practicas nav, .contacto nav {
  background-image: url("../assets/img/Patron Swastica Fondo Transparente.svg");
  background-size: 5%;
  background-repeat: repeat;
  position: relative;
  background-color: rgba(207, 137, 0, 0.3);
}

/* Mapa de Colores Tibet */
/* Crea clases para cada pagina asignando un color del mapa de colores 
para los colores el nav de cada pagina */
/*Extiende clase generica de patron de brocado y cambia fondo del nav ademas 
de hacer ajustes al diseño como el tamaño del patron*/
.calendario nav {
  background-size: 3%;
  background-color: #2E8888;
}

.calendario nav li {
  background-color: #2E8888;
}

.calendario nav li a:hover {
  background-color: #1b4f4f;
}

.faselunar nav {
  background-size: 3%;
  background-color: #BE0A09;
}

.faselunar nav li {
  background-color: #BE0A09;
}

.faselunar nav li a:hover {
  background-color: #750606;
}

.celebraciones nav {
  background-size: 3%;
  background-color: #CF8900;
}

.celebraciones nav li {
  background-color: #CF8900;
}

.celebraciones nav li a:hover {
  background-color: #835600;
}

.practicas nav {
  background-size: 3%;
  background-color: #ff6f61;
}

.practicas nav li {
  background-color: #ff6f61;
}

.practicas nav li a:hover {
  background-color: #ff2915;
}

.contacto nav {
  background-size: 3%;
  background-color: #6A96B3;
}

.contacto nav li {
  background-color: #6A96B3;
}

.contacto nav li a:hover {
  background-color: #466f8a;
}
