.patron-brocado-negro{

    background-image: url("../assets/img/Patron\ Swastica\ Fondo\ Transparente.svg");
    background-size: 5%;
    background-repeat: repeat;
    position: relative;
    background-color: rgba(207, 137, 0, 0.3);

}