body p {
  color: aquamarine;
}

body nav {
  background-color: #CF8900;
  color: white;
  list-style-type: none;
  overflow: hidden;
}

body nav ul {
  width: 100%;
  justify-content: space-around;
  list-style-type: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-items: stretch;
}

body nav li {
  display: flex;
  background-color: #cf8900;
  text-align: center;
  float: left;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  text-transform: uppercase;
}

body nav li a {
  display: block;
  color: white !important;
  text-align: center;
  text-decoration: none;
}

body nav li a:hover {
  background-color: #690102;
}
